streamlit
openai
numpy
pandas
tensorflow
tensorflow_hub
keras
opencv-python-headless
pillow
pathlib
matplotlib
python-resize-image
gdown
requests
lime
seaborn
serpapi 
google-search-results
gspread
gspread-dataframe
scikit_learn
